[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyagrum = "*"
graphviz = "*"
pydot = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
